.kool-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(223, 247, 247, 1) 50%,
    rgba(204, 251, 241, 1) 100%
  );
}

.nav-tooltip {
  @apply font-semibold text-gray-500 bg-white absolute left-24 p-2 w-max rounded-md z-10 scale-0 group-hover:scale-100 transition origin-left shadow-sm;
}

.horizontal-scroll-fix {
  display: -webkit-box;
}
